<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Days since</title>
  </head>
  <body>
    <h1>Days since</h1>
    <p>You'd be surprised how many days it's been since things happened!</p>
    <p>Try a few of these dates:</p>
    <ul>
      <li><a href="{{ url_for('get_since', historical_date='2007-06-25') }}">June 25, 2007</a></li>
      <li><a href="{{ url_for('get_since', historical_date='2000-01-01') }}">January 1, 2000</a></li>
      <li><a href="{{ url_for('get_since', historical_date='1982-12-03') }}">December 3, 1982</a></li>
    </ul>
  </body>
</html>