[Unit]
Description=uWSGI Since app
After=syslog.target

[Service]
ExecStart=/data/since-app/env/bin/uwsgi --ini /data/since-app/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
